googletrans==3.1.0a0
gTTS==2.3.1
nltk==3.8.1
openai_whisper==20230314
pytube==15.0.0
st_annotated_text==4.0.0
streamlit==1.20.0
streamlit_player==0.1.5
sumy==0.11.0
transformers==4.26.0
whisper==1.1.10
youtube_transcript_api==0.4.1
youtube-dl
yt-dlp==2023.03.04
Pillow==9.5.0
streamlit==1.20.0
streamlit_option_menu==0.3.2
streamlit_player==0.1.5
whisper==1.1.10

jiwer==3.0.1
ffmpeg-python
torch==2.0.0
git+https://github.com/openai/whisper.git
youtube_transcript_api==0.4.1
